{% set first_image = page.media.images | first %}
{% set collection = page.children %}

<div class="uk-section uk-section-large uk-section-media uk-light uk-background-cover" style="background-image: linear-gradient(
rgba(0, 0, 0, 0.7),
rgba(0, 0, 0, 0.7)
), url({{ first_image.url }})">
    <div class="uk-container">

        <h1>{{ page.title }}</h1>

        <div class="uk-grid-match uk-child-width-1-3@m" uk-grid>
            {% for event in collection %}

                {% set event_image = event.media.images | first %}

                <div class="">
                  <p>{{ event.title }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
