<div class="uk-section uk-section-secondary uk-section-medium uk-light">
  <div class="uk-container">
    <div class="uk-grid-match uk-grid-divider" uk-grid>
      <div class="uk-width-1-2@m">
        <ul class="uk-nav uk-nav-default">
          <li class="uk-nav-header">{{ config.site.title }} im. Św. Jadwigi</li>
          <li class="uk-nav-divider"></li>
          <li><span class="uk-text-meta uk-margin-small-right">poczta:</span>27-500 Opatów</li>
          <li><span class="uk-text-meta uk-margin-small-right">adres:</span>Wąworków 34</li>
          <li><span class="uk-text-meta uk-margin-small-right">telefon:</span>888 210 924</li>
          <li><span class="uk-text-meta uk-margin-small-right">KRS:</span>0000044263</li>
          <li class="uk-nav-divider"></li>
          <li>
            <p class="uk-margin-top">Wszystkich, którzy chcieliby wspomóc działania naszego Stowarzyszenia zapraszamy do współpracy:</p>
          </li>
          <li class="uk-heading-bullet uk-margin-bottom">Jak pomóc?</li>
          <ul class="uk-list uk-list-bullet">
            <li>Jeśli chcesz przekazać dary rzeczowe np. ubrania, koce, pościel, itp. to skontaktuj się bezpośrednio na nr tel. <b>888 210 924</b>.</li>
            <li>Jeśli chcesz wpłacić darowiznę  na cele statutowe stowarzyszenia  to dokonaj wpłaty na na nr konta <b>36 1240 2773 1111 0000 3682 5929</b>.</li>
          </ul>
          <li class="uk-margin-top">Za wszystkie formy wsparcia serdecznie dziękujemy.</li>
        </ul>
      </div>
      <div class="uk-width-1-2@m">
        <form>
          <fieldset class="uk-fieldset">
            <legend class="uk-legend">Formularz kontaktowy</legend>
            <div class="uk-margin">
              <input class="uk-input uk-width-1-1" type="text" placeholder="Twój email">
            </div>
            <div class="uk-margin">
              <textarea class="uk-textarea uk-width-1-1" rows="5" placeholder="Twoja wiadomość"></textarea>
            </div>
            <div class="uk-margin">
              <input class="uk-button uk-button-default uk-width-1-1" type="submit" value="Wyślij">
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
