<div class="uk-section uk-section-secondary uk-light">
    <div class="uk-container">

        <div class="uk-grid-match uk-child-width-1-2@m uk-child-width-1-4@l" uk-grid>
            <div>
                <a href="{{ base_url == '' ? '/' : base_url }}"><h3 class="uk-margin-remove-bottom">{{ config.site.title }}<br><span class="site__subtitle"> <em>{{ config.site.subtitle }}</em></span></h3></a>
                <hr>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
            </div>
            <div>
                <h3>Section Secondary</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
            </div>
            <div>
                <h3>Section Secondary</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
            </div>
            <div>
                <h3>Section Secondary</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
            </div>
        </div>

    </div>
</div>
