.nav__container, .uk-modal-dialog {
  height: 100%;
}

.uk-modal-dialog {
  height: 100%;
  opacity: 0.97;
  font-family: EB Garamond;
}

.section--breadcrumbs {
  padding-top: 20px;
  padding-bottom: 20px;
}
