$main-font: EB Garamond, serif;

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $main-font;
}

time, .event-location {
    & > span {
        font-family: EB Garamond;
        font-style: italic;
        font-size: 22px;
    }
}
