@import 'imports';

article {
  img {
    width: 100%;
  }
  figcaption {
    font-size: 14px;
    line-height: 1.4;
    color: #999;
  }
}

.blog-card--blank {
  padding-bottom: 70px;
}

.article__meta-info {
  border-radius: 50px 50px 50px 50px;
  background-color: transparent;
  border: 1px solid;
  padding: 0 30px;
  vertical-align: middle;
  font-size: 0.875rem;
  line-height: 38px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.tag-cloud--footer {
  a {
    font-size: 12px;
  }
  &.tag--largest {
    color: #FF6138;
  }
  &.tag--smallest {

  }
  &.tag--small {

  }
  &.tag--medium {

  }
  &.tag--large {

  }
}

.dictinary-search-form {
  background-color: #fff;
}
