{% embed 'partials/base.html.twig' %}

    {% set collection = page.collection() %}

    {% block content %}

        {% set blog_image = page.media.images | first.grayscale().contrast(20).brightness(-100).colorize(-35, 81, 122) %}

        {% if blog_image %}
            <div class="uk-section uk-section-media uk-section-large uk-light uk-background-cover" style="background-image: url({{ blog_image.url }});">
            {% else %}
                <div class="uk-section uk-section-large uk-section-default uk-margin-top">
                {% endif %}
                <div class="uk-container">
                    <div class="uk-child-width-expand@s uk-text-center" uk-grid>
                      <div class="">
                        {{ page.content }}
                      </div>
                    </div>
                </div>
            </div>

            <div class="uk-section uk-section-muted uk-preserve-color">
                <div class="uk-container">
									<h1 class="uk-heading-line uk-text-center"><span>Ostatnie wpisy na blogu</span></h1>
                    <div class="uk-child-width-1-2@m uk-child-width-1-3@l" uk-scrollspy="target: > div; cls:uk-animation-slide-bottom-small; delay: 500" uk-grid>
                        {% for child in collection %}
                            {% include 'partials/blog_item_card.html.twig' with {'blog': page, 'page': child, 'truncate': true} %}
                        {% endfor %}
                    </div>
                </div>
            </div>

        {% endblock %}

    {% endembed %}
